BasedOnStyle: LLVM
#AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: DontAlign
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: true
PointerAlignment: Left
RequiresClausePosition: OwnLine
IndentRequires: false
AlwaysBreakTemplateDeclarations: Yes
PenaltyReturnTypeOnItsOwnLine: 0
AlwaysBreakAfterDefinitionReturnType: None